* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f4f4f5;
    height: 150px;
    border: 1px solid #dfdce3;
    border-radius: 0 0 10px 10px;
}


.container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
}

.navitr {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    position: relative;
}

#flag {
    width: 40px;
}

.navline {
    color: black;
}

.navline__text {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.contents {
    padding-top: 40px;
}

.country {
    text-align: center;
    padding-bottom: 20px;
}

.slide {
    max-width: 80px;
    margin: 0px auto;
    cursor: pointer;
}

.info {
    position: absolute;
    background: rgba(145, 145, 145, 0.6);
    opacity: 0;
    right: 11%;
    align-items: center;
    text-align: center;
    border-radius: 3px;
}

.info li {
    padding: 5px;
}

.slide:hover .info {
    opacity: 100%;
}

.mySlides {
    display: flex;
}

.silde__img {
    width: 100%;
}

.slide__text {
    text-align: center;
    font-size: 14px;
}


/* covid */

#DateTime {
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
    color: gray;
}

#covidNews {
    display: grid;
    grid-template-columns: auto auto;
    text-transform: uppercase;
}

.item {
    width: 80%;
    color: white;
    background-color: #f3585b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    margin: 10px auto;
    border-radius: 5px;
    padding: 30px;
}

i {
    padding-right: 5px;
    /* font-size: 25px; */
}